<script src="../../scripts/base-script.js"></script>
{% extends 'base.html' %}

{% block title %}Comprehensions{% endblock %}

{% block content %}
<!-- Main Section -->
<main>
    <section id="foundations-of-javascript">
        <div class="container-fluid">
            <h1 class="category">Comprehensions</h1>
            <hr>
            <h2 class="subcategory">A. Higher-Order Functions</h2>
            <hr>
            <!-- 1. Function as an Argument Task -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                1. Function as an Argument Task
                            </h5>
                            <p class="card-text">
                                Write a higher-order function that accepts another function as an argument.
                                Define a function, such as applyOperation, that takes two numbers and a callback
                                function as parameters.
                                Use the callback function to perform a specific operation on the two numbers, such
                                as addition, subtraction, multiplication, or division.
                                Test the higher-order function by passing different callback functions to perform
                                various arithmetic operations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">
                                <input id="firstNum" type="number" placeholder="Enter first integer">
                                <input id="secondNum" type="number" placeholder="Enter second integer">
                                <div> <label for="task">Enter task code (1 for addition; 2 for substraction; 3 for
                                        multplication; 4 for division)</label>
                                    <input id="task" type="number" placeholder="Task code">
                                </div>
                                <button class="btn btn-secondary" id="hofResultBtn">Execute</button>
                                <div id="introMessage" style="color: blue;"></div>
                                <div id="invalidHofResult" style="color: rgb(238, 10, 14);"></div>
                                <div id="hofResult" style="color: green;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2. Event Listener Higher-Order Function -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class=" card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">
                                <h6 id="elIntroMessage"></h6>
                                <label for="eventListenerColorBtn">Click button to change to purple</label>
                                <button class="btn btn-secondary" id="eventListenerColorBtn">Event Listener Color
                                    Button</button>
                                <label for="eventListenerTextBtn">Click button to change intext</label>
                                <button class="btn btn-secondary" id="eventListenerTextBtn">Event Listener Text
                                    Button</button>
                                <label for="eventListenerToggleBtn">Click to toggle button</label>
                                <button class="btn btn-secondary" id="eventListenerToggleBtn">Event Listener Toggler
                                    Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                2. Event Listener Higher-Order Function
                            </h5>
                            <p class="card-text">
                                Question: Create a JavaScript function, handleButtonClick, that simplifies adding
                                click event listeners to buttons on a webpage. This function should accept two
                                parameters: a button element and a callback function. When invoked,
                                handleButtonClick should set up an event listener on the provided button element,
                                executing the callback function when the button is clicked.

                                Provide an example demonstrating how this function can be used to handle click
                                events for multiple buttons on a webpage, each triggering a different action. For
                                example:

                                Clicking "Button 1" should change the background color of the webpage.
                                Clicking "Button 2" should display an alert message with a custom text.
                                Clicking "Button 3" should toggle the visibility of a specific element on the
                                webpage.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 3. Set Operations with Higher-Order Functions -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                3. Set Operations with Higher-Order Functions
                            </h5>
                            <p class="card-text">
                                Define higher-order functions in JavaScript that operate on arrays. Implement
                                takeWhile and dropWhile functions that manipulate arrays based on a predicate.
                                Provide examples demonstrating how these functions can be used to filter elements
                                from an array according to a condition.

                                Additionally, perform the following tasks:

                                Check if it's raining OR sunny and store the result in a variable isRainingOrSunny.
                                Negate the value of isRainingOrSunny and store the result in a variable notRaining.
                                Display the values of isRainingOrSunny, notRaining, and isRainingAndSunny.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 4. Ordered Lists and Comparison -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class=" card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">
                                <h6>Message: <span id="message"></span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                4. Ordered Lists and Comparison
                            </h5>
                            <p class="card-text">
                                Ordered Lists and Comparison
                                Question: Develop a higher-order function in JavaScript called orderedBy, which
                                takes a comparison function as input and returns a predicate function. This
                                predicate should check whether a given array is totally ordered according to the
                                comparison function. Include examples showing how orderedBy can be used with
                                different comparison functions to validate the ordering of arrays. </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 5. Utilizing Classic Higher-Order Functions -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                5. Utilizing Classic Higher-Order Functions
                            </h5>
                            <p class="card-text">
                                Question: Without using recursion or case analysis in your definitions, create
                                functions in JavaScript that utilize map, curry, reduce (equivalent to foldl), and
                                reduceRight (equivalent to foldr). These functions should operate on non-empty
                                arrays to find the maximum, sum, and product of integer elements within the array.
                                Ensure your implementations correctly handle non-empty arrays and produce scalar
                                results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="subcategory">B. Array Methods</h2>
            <hr>
            <!-- 1. Transforming Array Elements with .map() -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                1. Transforming Array Elements with .map()
                            </h5>
                            <p class="card-text">
                                Task Description: Write a JavaScript function that takes an array of numbers as
                                input and returns a new array where each number has been multiplied by 2. Use the
                                .map() method to achieve this transformation.
                                Key Concepts: Focus on understanding how .map() works by applying a function to each
                                element of an array and creating a new array with the results.
                                Testing: After implementing the function, test it with an example array [1, 2, 3, 4]
                                to ensure it correctly doubles each element.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2. Filtering Array Elements with .filter() -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class=" card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                2. Filtering Array Elements with .filter()
                            </h5>
                            <p class="card-text">
                                Task Description: Write a function that takes an array of numbers and returns a new
                                array containing only the even numbers from the original array. Use the .filter()
                                method to identify and collect the even numbers.
                                Key Concepts: Understand the role of .filter() in extracting elements based on a
                                condition. Pay attention to how the callback function passed to .filter() determines
                                which elements are included in the new array.
                                Testing: Test your function with an array [1, 2, 3, 4, 5, 6] to verify that it
                                correctly filters out the odd numbers.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 3. Accumulating Array Elements with .reduce() -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                3. Accumulating Array Elements with .reduce()
                            </h5>
                            <p class="card-text">
                                Task Description: Implement a function that calculates the sum of all numbers in an
                                array. Use the .reduce() method to accumulate the sum as you iterate through the
                                array.
                                Key Concepts: Focus on how .reduce() works by applying a function to each element of
                                an array and accumulating a result. Understand the initial value parameter and how
                                it affects the calculation.
                                Testing: Test your function with an array [1, 2, 3, 4, 5] to confirm it accurately
                                sums up all the numbers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 4. Iterating Over Array Elements with .forEach() -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class=" card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                4. Iterating Over Array Elements with .forEach()
                            </h5>
                            <p class="card-text">
                                Task Description: Write a function that takes an array of strings and logs each
                                string to the console. Use the .forEach() method to iterate over the array and
                                perform the logging action.
                                Key Concepts: Understand the purpose of .forEach() in executing a function for each
                                element in an array without returning a new array. Consider the benefits of using
                                .forEach() over traditional looping constructs.
                                Testing: Test your function with an array ['Hello', 'World'] to see each string
                                logged to the console.
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 5. Custom Sorting with .sort() -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                5. Custom Sorting with .sort()
                            </h5>
                            <p class="card-text">
                                Task Description: Given an array of objects representing people, write a function
                                that sorts the array in ascending order based on the age property of each object.
                                Use the .sort() method with a custom comparator function.
                                Key Concepts: Understand how .sort() can be customized by passing a compare function
                                to determine the sort order. Reflect on the importance of specifying a compare
                                function for complex data structures.
                                Testing: Test your function with an array of people objects to ensure they are
                                sorted correctly by age.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Output (See <a
                                    href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                    target="_blank">script.js</a> for details)
                            </h5>
                            <div class="card-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
</main>

{% endblock %}