<!-- base-footer.html template -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Python</h4>
                <ul>
                    <li><a href="#">Core Python</a></li>
                    <li><a href="#"> Data Structures</a></li>
                    <li><a href="#">Data Manipulation</a></li>
                    <li><a href="#">Iterators and Generators</a></li>
                    <li><a href="#">Comprehensions</a></li>
                    <li><a href="#">Exception Handling</a></li>
                    <li><a href="#">Context Managers</a></li>
                    <li><a href="#">Decorators</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Advanced Python</h4>
                <ul>
                    <li><a href="#">Metaprogramming</a></li>
                    <li><a href="#">Asynchronous Programming</a></li>
                    <li><a href="#">Concurrent Execution</a></li>
                    <li><a href="#">Data Serialization</a></li>
                    <li><a href="#">Continuous Integration</a></li>
                    <li><a href="#">Python Community and Ecosystem</a></li>
                    <li><a href="#">Machine Learning</a></li>
                    <li><a href="#">Data Science</a></li>
                    <li><a href="#">Advanced Topics</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>SQL</h4>
                <ul>
                    <li><a href="#">Foundations of SQL</a></li>
                    <li><a href="#">Intermediate SQL Concepts</a></li>
                    <li><a href="#">Advanced SQL</a></li>
                    <li><a href="#">SQL Frameworks and Libraries</a></li>
                    <li><a href="#">SQL Tools & Techniques</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap JS Link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Font Awesome JS Link -->
<script src="https://kit.fontawesome.com/01058b62ac.js" crossorigin="anonymous"></script>

<!-- Custom JS Link -->
<script src="./scripts/script.js"></script>